@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --cor-descricao: #F9F9F9;
    --botao-azul-efeito: #3C92FA;

    --fonte-conteudo: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

.container {
    height: 90vh;
    box-sizing: border-box;
}

.container__conteudo {
    width: 36.75em;
    padding: 10%;
    gap: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__titulo {
    font-family: var(--fonte-conteudo);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}

.container__botao {
    display: flex;
    flex-direction: column;
    gap: 1em
}

.container__botao__conteudo{
    background-color: var(--botao-azul);
    border-radius: 0.5em;
    color: var(--branco-principal);
    text-decoration: none;
    padding: 1.2em;
    font-size: 1rem;
    font-family: var(--fonte-conteudo);
    font-weight: 400;
    width: 32em;
    text-align: center;
}

.botao__secundario {
    background-color: transparent;
    border: 0.125em solid var(--branco-principal)
}

.container__aviso {
    text-align: center;
    font-family: var(--fonte-conteudo);
    font-size: 0.75rem;
    color: var(--cinza-secundario);
    font-weight: 400;
}

.secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 12em;
}

.container__descricao {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 36.75em;
}

.descricao__titulo {
    font-family: var(--fonte-conteudo);
    font-size: 3rem;
    font-weight: 700;
}

.descricao__texto {
    font-family: var(--fonte-conteudo);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-descricao);
    opacity: 0.8;
}

.botao__terciario {
    text-decoration: none;
    background-color: var(--botao-azul);
    border-radius: 0.5em;
    padding: 1em;
    color: var(--branco-principal);
    font-family: var(--fonte-conteudo);
    font-size: 1rem;
    font-weight: 400;
    width: 8em;
    text-align: center;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em
}

.dispositivos__titulo {
    font-family: var(--fonte-conteudo);
    font-size: 3rem;
    font-weight: 700;
}

.dispositivos__subtitulo {
    font-family: var(--fonte-conteudo);
    font-size: 2rem;
    font-weight: 700;
}

.dispositivos__lista {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}


.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10em 10em 2em 10em;
    gap: 2.3em;
}

.rodape__itens {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: var(--fonte-conteudo);
    font-size: 1rem;
    font-weight: 400;
    gap: 1em;
}

.rodape__links a {
    text-decoration: none;
    color: var(--branco-principal)
}

.rodape__direitos {
    font-family: var(--fonte-conteudo);
    font-size: 0.88rem;
    color: var(--cinza-secundario);
}

.rodape__links a:hover {
    color: var(--botao-azul);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}